
.nav p{
    text-align: right;
    margin-right: 200px;
    margin-top: -33px;
}
.body{
    height:1000px;
    width: 70%;
    background-color: rgb(247, 244, 240);
    margin-left: 50px;
}
.nav h2{
    margin-left: 20px;
    margin-top: 40px;
}
.logout{
    text-align: right;
    margin-top: -40px;
    margin-right: 30px;
}